/*
Semantic Styles for HTML
*/

:not(pre) > code {
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  background-color: var(--bg-color-light);
}

dd {
  font-family: var(--font-serif);
  font-size: var(--text-m);
  margin-left: var(--space-s);
  margin-bottom: var(--space-xs);
}

dt {
  font-family: var(--font-serif);
  font-size: var(--text-m);
  font-weight: bold;
}

figcaption {
  text-align: center !important;
  font-size: 0.85rem;
  margin-top: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

h1 {
  font-size: var(--text-2xl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

p {
  font-family: var(--font-serif);
  font-size: var(--text-m);
}

p {
  margin-bottom: var(--space-xs);
}

p + ul {
  margin-top: calc(var(--space-xs) * -1);
}

/* p:not(:last-of-type):not(+ ul) {
  margin-bottom: var(--space-xs);
} */

pre {
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  text-wrap: wrap;
  margin-bottom: var(--space-xs);
  padding: var(--space-xs);
}

ul {
  font-family: var(--font-serif);
  font-size: var(--text-m);
  margin-bottom: var(--space-xs);
}
