{% import "macros/macros.html" as macros %}

{% extends "base.html" %}

{% block title %}
  {{ macros::title(title=term.name)}}
{% endblock title %}

{%- block content %}
  <div class="content taxonomy">
    <h1 class="heading">Posts tagged {{ term.name }}</h1>
    <div>
      {%- for page in term.pages -%}
        {% include "includes/post-meta-dates.html" %}
        <h2 class="blog-title"><a href="{{ page.path }}">{{ page.title }}</a></h2>
        {% include "includes/post-meta-taxonomy.html" %}
        <div class="prose post-summary">
          {{ page.summary | safe }}
        </div>
      {%- endfor -%}
    </div>
  </div>

  {% include "includes/pagination.html" %}
{%- endblock %}
