/*
Blocks from CUBE CSS
A block is a skeletal component or organisational structure.
*/

/*
Blog
*/

.blog-title a {
  text-decoration: none;
  color: var(--color-primary);
}

.blog-title a:hover {
  color: var(--color-text-accent);
}

.blog-meta {
  font-family: var(--font-sans);
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
}

.blog-meta a {
  text-decoration: none;
  color: var(--color-text-secondary);
}

.blog-meta a:hover {
  color: var(--color-text-accent);
}

.blog-meta.blog-dates {
  margin-bottom: calc(var(--space-3xs) * -1);
}

.blog-meta.blog-taxonomies {
  margin-top: calc(var(--space-3xs) * -1);
  margin-bottom: var(--space-xs);
}

.prose a,
p a {
  text-decoration: underline dotted;
  color: var(--color-primary);
}

.prose a:hover,
p a:hover {
  color: var(--color-text-accent);
}

.prose.post-summary {
  margin-bottom: var(--space-l);
}

/*
Footer
*/

footer {
  background-color: var(--color-bg-darkest);
  padding: var(--space-xs);
  color: var(--color-text-light);
  font-family: var(--font-sans);
  font-size: var(--text-xs);
}

footer ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

footer a {
  color: var(--color-text-light);
  margin-left: var(--space-xs);
}

footer a:hover {
  color: var(--color-text-accent);
}

/*
Navigation
*/

nav {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-darkest);
  padding: var(--space-xs);
  color: var(--color-text-light);
  position: relative;
  margin-bottom: var(--space-xs);
}

nav a {
  text-decoration: none;
  color: var(--color-text-light);
  font-family: var(--font-sans);
}

nav li {
  font-family: var(--font-sans);
}

nav a:hover {
  color: var(--color-text-accent);
}

nav a.icon {
  margin-left: auto;
  font-size: var(--text-3xl);
  color: var(--color-text-light);
}

button#theme-toggle {
  color: var(--color-text-light);
  background-color: var(--color-bg-darkest);
  border-style: none;
}

button#theme-toggle:hover {
  color: var(--color-text-accent);
}

nav .vert-logo {
  display: none;
}

nav .links {
  display: none;
}

nav .nav-list {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background-color: var(--color-bg-darkest);
}

nav .nav-list ul {
  list-style: none;
  padding-left: var(--space-m);
}

nav .copyright {
  margin-top: var(--space-m);
  font-size: var(--text-xs);
}

@media (min-width: 576px) {
  nav {
    display: block;
    margin-bottom: 0;
  }

  nav .vert-logo {
    display: block;
  }

  nav .horiz-logo {
    display: none;
  }

  nav a.icon {
    display: none;
  }

  nav .nav-list {
    display: block;
    position: static;
  }

  nav .nav-list ul {
    text-align: center;
    padding: 0;
    margin-top: var(--space-xs);
  }

  nav .nav-list li {
    padding: var(--space-3xs);
  }

  nav .links {
    display: block;
  }
}

/*
Page Navigation
*/

.page-nav {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-sans);
  font-size: var(--text-sm);
  margin-bottom: var(--space-s);
}

.page-nav a {
  text-decoration: none;
  color: var(--color-primary);
}

.page-nav a:hover {
  color: var(--color-text-accent);
}

/*
Pagination
*/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-m);
}

.pagination ul {
  display: flex;
  list-style: none;
  font-family: var(--font-sans);
  font-size: var(--text-sm);
}

.pagination ul a {
  text-decoration: none;
  color: var(--color-primary);
}

.pagination ul a:hover {
  color: var(--color-text-accent);
}

.pagination .location {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.pagination .bi-caret-left-fill {
  margin-left: var(--space-3xs);
}

.pagination .bi-caret-right-fill {
  margin-right: var(--space-3xs);
}

/*
Taxonomy
*/

.taxonomy ul {
  list-style: none;
  font-family: var(--font-sans);
  font-size: var(--text-lg);
}

.taxonomy a {
  text-decoration: none;
  color: var(--color-primary);
}

.taxonomy a:hover {
  color: var(--color-text-accent);
}
