/*
Composition from CUBE CSS
Layout rules
*/

body {
  margin: var(--space-m);
}

@media (min-width: 576px) {
  body {
    display: grid;
    max-width: 992px;
    margin: var(--space-m) auto;
    grid-template-columns: 200px 1fr;
  }

  .content {
    grid-column: 2 / 2;
    margin-left: var(--space-m);
  }

  .pagination {
    grid-column: span 2;
    text-align: center;
    margin-top: var(--space-m);
  }
}
