/*
Composition from CUBE CSS
Layout rules
*/

body {
  margin: var(--space-m);
}

footer {
  display: flex;
}

@media (min-width: 600px) {
  body {
    display: grid;
    max-width: 1000px;
    grid-template-columns: clamp(4rem, 20vw, 200px) 1fr;
  }

  .content {
    grid-column: 2 / 2;
    margin: 0 var(--space-m);
  }

  .pagination {
    grid-column: 2 / 2;
  }

  footer {
    display: none;
  }
}
