<footer>
  <ul>
    <li>
      <span>&copy; {{ now() | date(format="%Y") }} All Rights Reserved.</span>
    </li>
  </ul>
  <ul class="flex-left">
    <li>
      <a href="https://github.com/bobrocke" title="Bob on GitHub" target="_blank"><i class="fa-brands fa-github"></i></a>
    </li>
    <li>
      <a href="https://stackoverflow.com/users/1938118/bob-rockefeller" title="Bob on Stack Overflow" target="_blank"><i class="fa-brands fa-stack-overflow"></i></a>
    </li>
    <li>
      <a href="https://www.flickr.com/photos/bobrocke/" title="Bob on Flickr" target="_blank"><i class="fa-brands fa-flickr"></i></a>
    </li>
    <li>
      <a href="https://500px.com/p/BobRockefeller?view=photos" title="Bob on 500px" target="_blank"><i class="fa-brands fa-500px"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/bob.rockefeller" title="Bob on Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </li>
  </ul>
</footer>
