 <nav class="top-nav">
   <!-- Site logo -->
   <img src="/images/logo-horiz.svg" alt="Logo" height="50" width="160" />

   <!-- Hamburger menu  -->
   <a href="javascript:void(0);" class="icon" onclick="togglelinks()">
     <i class="bi bi-list"></i>
   </a>

   <div class="nav-list" id="links">
     <ul>
       {% for menu in config.extra.menus %}
         {% if current_path == menu.url %}
           <li>{{ menu.name }}</li>
         {% else %}
           <li><a href="{{menu.url}}">{{menu.name}}</a></li>
         {% endif %}
       {% endfor %}
     </ul>
   <div>
 </nav>

 <nav class="side-nav">
   <!-- Site logo -->
   <img src="/images/logo-vert.svg" alt="Logo" width="180"/>
   <div class="nav-list">
     <ul>
       {% for menu in config.extra.menus %}
         {% if current_path == menu.url %}
           <li>{{ menu.name }}</li>
         {% else %}
           <li><a href="{{menu.url}}">{{menu.name}}</a></li>
         {% endif %}
       {% endfor %}
     </ul>
   <div>
 </nav>
