{% extends "base.html" %}

{% block title %}
  {% if config.mode == "serve" %}
    Zola | {{ page.title }}
  {% else %}
    {{ config.title }} | {{ page.title }}
  {% endif %}
{% endblock title %}

{% block menu %}
  <div class="nav-list" id="links">
  {{ page.relative_path }}
    <ul >
      {% for menu in config.extra.menus %}
          <li><a href="{{menu.url}}">{{menu.name}}</a></li>
      {% endfor %}
    </ul>
  <div>
{% endblock menu %}

{% block content %}
  <h1 class="title">
    {{ page.title }}
  </h1>
  <p class="subtitle"><strong>{{ page.date }}</strong></p>
  {{ page.content | safe }}
{% endblock content %}
