{% extends "base.html" %}

{% block title %}
  {% if config.mode == "serve" %}
    Zola | {{ section.title }}
  {% else %}
    {{ config.title }} | {{ section.title }}
  {% endif %}
{% endblock %}

{% block content %}
  <!--index.html-->
  <h1>Here we are.</h1>
  <ul>
    <!-- If you are using pagination, section.pages will be empty.
        You need to use the paginator object -->
    {% for page in paginator.pages %}
      <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock content %}
